@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: 0.5s;
}

.navigation a:hover,
.navigation a.active {
    color: #444;
}

.navigation a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 30px;
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
}

.navigation a:hover span,
.navigation a.active span{
    transform: scale(1);
    opacity: 1;
}

.parallax{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('./images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #1b283a;
    text-shadow: 2px 4px 5px #f9f9f9;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.parallax img#gate-left {
    position: fixed;
    transform: translateX(-282px);
}

.parallax img#gate-right {
    position: fixed;
    transform: translateX(305px);
}

.sec {
    position: relative;
    padding: 30px 100px;
    margin-top: 30px;
    background: #020912;
}

.sec h2 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    text-align: justify;
}