@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --primary-color: #C63F60 ;
    --secondary-color: #3B58B8 ;
    --text-color: #fff ;
}

*{
    /* border: 1px solid red; */
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    /* overflow : hidden;  */
}

.header{
    background-color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.header .logo{
    margin-left: 7rem;
}

.logo{
    font-size: 25px;
    font-weight: 700;
}

.logo span{
    color: var(--secondary-color);
}


.header .menu ul{
    width: 110%;
    display: flex;
    justify-content: space-around;
    margin-left: 10rem;    
    list-style-type: none;
}

.menu ul li{
    font-size: 18px;
    padding: 7px;
    box-sizing:content-box;
}

.menu ul li:hover{
    cursor: pointer;
    /* border: 1px solid rgba(0, 0, 0, 0.112); */
    background-color: rgba(219, 218, 218, 0.179);
    border-radius: 4px;
}

.log{
    display: flex;
    width: 10%;
    justify-content: space-between;
}

.log img{
    background-color: var(--secondary-color);
    padding: 3px 3px 0 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: -5rem
}

.log p {
    color: var(--secondary-color);
}

.main {
    background-image: url('../images/finance.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.hero h1{
    color: var(--text-color);
    font-size: 80px;
}

.hero h2{
    color: var(--text-color);
    text-align: center;
    font-size: 30px;
}

.hero a button{
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    border: none;
    background-color: var(--primary-color);
    padding: 20px 60px;
    margin: 1.5rem 0 0 17rem;
}

.hero a button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.services {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.services #chart{
    background-image: url('../images/chart.png');
    background-size: cover;
    margin: 0 0 0 15rem;
    width: 25rem;
    height: 15rem;
    border: 1px solid rgba(128, 128, 128, 0.13);
    border-radius: 7px;
    box-shadow: 5px 5px 10px 5px rgba(219, 218, 218, 0.35)
}

.services #chart:hover{
    cursor: pointer;
    background-image: url('../images/chart-1.png');
}

.services .chart-detail{
    margin-left: 3rem;
    width: 25rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-detail h3{
    font-weight: 650;
    font-size: 30px;
    letter-spacing: 0.4rem;
}

.chart-detail p{
    font-size: 1.1rem;
    font-weight: 350;
    padding: 1.5rem;
    text-align: left;
    margin-left: 2rem;
}

.chart-detail a button{
    border: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    transform: translate(-4.5rem , 2rem);
    font-size: 1rem;
    padding: 0.7rem 2rem;
}

.chart-detail a button:hover{
    cursor: pointer;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--text-color);
}


.team {
    display: flex;
    align-items: center;
    background-color: #F6F8FD;
    width: 100%;
    height: 70vh;
}

.team .team-detail{
    margin-left: 4rem;
    padding: 7rem;
    width: 50%;
}

.team-detail h1{
    font-weight: 650;
    font-size: 30px;
    letter-spacing: 0.4rem;
    margin-bottom: 2rem;
}

.team-detail p{
    margin-bottom: 3rem;
    font-size: 1.1rem;
    font-weight: 350;
}

.team-detail a button{
    border: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 0.7rem 2rem;
}

.team-image img{
    border: none;
    border-radius: 7px;
    box-shadow: 10px 10px 10px 3px rgba(146, 145, 145, 0.503);
    margin-left: 5rem;
    width: 25rem;
    height: 15rem;
}

.client {
    background-color: grey;
    padding: 5rem 11rem;
    height: 100vh;
    width: 100%;
}

.images .client-logo{
    margin-left: -5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.images .client-logo img{
    padding: 0.1rem;
    margin: 0.5rem;
    width: 23rem;
    height: 10rem;
}

